PORT=3000

SESSION_SECRET=change-this-secret

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=todo_db
MYSQL_USER=todo_user
MYSQL_PASSWORD=todo_pass

KEYCLOAK_ISSUER=http://localhost:8080/realms/todo-realm
KEYCLOAK_AUTHORIZATION_URL=http://localhost:8080/realms/todo-realm/protocol/openid-connect/auth
KEYCLOAK_TOKEN_URL=http://localhost:8080/realms/todo-realm/protocol/openid-connect/token
KEYCLOAK_USERINFO_URL=http://localhost:8080/realms/todo-realm/protocol/openid-connect/userinfo
KEYCLOAK_CLIENT_ID=todo-node-app
KEYCLOAK_CLIENT_SECRET=todo-node-secret
KEYCLOAK_CALLBACK_URL=http://localhost:3000/auth/callback
KEYCLOAK_LOGOUT_URL=http://localhost:8080/realms/todo-realm/protocol/openid-connect/logout
